/* .Footblock{
    width: 80vw;
} */

.overflow{
    max-width: 100%;
    overflow: hidden;
}

/* ================================================== ColumnBlock1 ================================================== */
.ColumnBlock1{
    height: 1720px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* ---------------------------------------- Column1 ---------------------------------------- */

.ColumnItem1{
    background-image: url(../img/Traditional/4-2-1.png);
    width: 710px;
    height: 960px;
    margin-top: 20px;
}

.ColumnItem1 > a{
    display: block;
    border: 1px solid black;
    height: 960px;
    text-decoration: none;
}

.ColumnItem1 > a > h2{
    margin-left: 30px;
    margin-top: 810px;
}

/* ---------------------------------------- Column2 ---------------------------------------- */

.ColumnItem2{
    background-image: url(../img/BlackandGrey/4-2-1.png);
    width: 710px;
    height: 720px;
    margin-top: 20px;
}

.ColumnItem2 > a{
    display: block;
    border: 1px solid black;
    height: 720px;
    text-decoration: none;
}

.ColumnItem2 > a > h2{
    margin-left: 30px;
    margin-top: 570px;
}

/* ---------------------------------------- Column3 ---------------------------------------- */

.ColumnItem3{
    background-image: url(../img/Oldschool/4-2-1.png);
    width: 465px;
    height: 1066px;
    margin-top: 220px;
    margin-left: 20px;
}

.ColumnItem3 > a{
    display: block;
    border: 1px solid black;
    height: 1066px;
    text-decoration: none;
}

.ColumnItem3 > a > h2{
    margin-left: 30px;
    margin-top: 910px;
}

/* ---------------------------------------- Column4 ---------------------------------------- */

.ColumnItem4{
    background-image: url(../img/Font/5-2-1.png);
    width: 465px;
    height: 407px;
    margin-top: 20px;
    margin-left: 20px;
}

.ColumnItem4 > a{
    display: block;
    border: 1px solid black;
    height: 407px;
    text-decoration: none;
}

.ColumnItem4 > a > h2{
    margin-left: 30px;
    margin-top: 260px;
}


/* ================================================== ColumnBlock2 ================================================== */
.ColumnBlock2{
    margin: 150px 0;
    display: inline-flex;
}

.ColumnBlock2 a{
    display: block;
    /* border: 1px solid orange; */
}

.ColumnBlock2 img{
    width: 600px;
}



/* ================================================== MediaQuery ================================================== */

@media screen and (max-width: 575.98px){
    
    img{
        max-width: 100%;
    }

    .Main{
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }

    /* ================================================== ColumnBlock1 ================================================== */
    .ColumnBlock1{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    /* ---------------------------------------- Column1 ---------------------------------------- */

    .ColumnItem1{
        background-image: url(../img/Traditional/4-2-1.png);
        /* width: 710px; */
        /* height: 960px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem1 > a{
        display: block;
        border: 1px solid black;
        height: 960px;
        text-decoration: none;
    }
    
    .ColumnItem1 > a > h2{
        margin-left: 0px;
        margin-top: 810px;
        width: 100%;
    }

    
    /* ---------------------------------------- Column2 ---------------------------------------- */

    .ColumnItem2{
        background-image: url(../img/BlackandGrey/4-2-1.png);
        /* width: 710px; */
        /* height: 720px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem2 > a{
        display: block;
        border: 1px solid black;
        height: 720px;
        text-decoration: none;
    }

    .ColumnItem2 > a > h2{
        margin-left: 0px;
        /* margin-top: 570px; */
        margin-top: 4px;
        width: 100%;
    }

    /* ---------------------------------------- Column3 ---------------------------------------- */

    .ColumnItem3{
        background-image: url(../img/Oldschool/4-2-1.png);
        /* width: 465px; */
        /* height: 1066px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem3 > a{
        display: block;
        border: 1px solid black;
        height: 1066px;
        text-decoration: none;
    }

    .ColumnItem3 > a > h2{
        margin-left: 0px;
        margin-top: 910px;
        width: 100%;
    }

    /* ---------------------------------------- Column4 ---------------------------------------- */

    .ColumnItem4{
        background-image: url(../img/Font/5-2-1.png);
        /* width: 465px; */
        /* height: 407px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem4 > a{
        display: block;
        border: 1px solid black;
        height: 407px;
        text-decoration: none;
    }

    .ColumnItem4 > a > h2{
        margin-left: 0px;
        margin-top: 260px;
        width: 100%;
    }

    /* ================================================== ColumnBlock2 ================================================== */
    .ColumnBlock2{
        margin: 150px 0;
        display: block;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .ColumnBlock2 a{
        display: block;
        /* border: 1px solid orange; */
    }

    .ColumnBlock2 img{
        width: 600px;
    }

}



@media (min-width: 576px) and (max-width: 767.98px){
    
    img{
        max-width: 100%;
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
    /* ================================================== ColumnBlock1 ================================================== */
    .ColumnBlock1{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    /* ---------------------------------------- Column1 ---------------------------------------- */

    .ColumnItem1{
        background-image: url(../img/Traditional/4-2-1.png);
        /* width: 710px; */
        /* height: 960px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem1 > a{
        display: block;
        border: 1px solid black;
        height: 960px;
        text-decoration: none;
    }
    
    .ColumnItem1 > a > h2{
        margin-left: 0px;
        margin-top: 810px;
    }

    
    /* ---------------------------------------- Column2 ---------------------------------------- */

    .ColumnItem2{
        background-image: url(../img/BlackandGrey/4-2-1.png);
        /* width: 710px; */
        /* height: 720px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem2 > a{
        display: block;
        border: 1px solid black;
        height: 720px;
        text-decoration: none;
    }

    .ColumnItem2 > a > h2{
        margin-left: 0px;
        margin-top: 570px;
    }

    /* ---------------------------------------- Column3 ---------------------------------------- */

    .ColumnItem3{
        background-image: url(../img/Oldschool/4-2-1.png);
        /* width: 465px; */
        /* height: 1066px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem3 > a{
        display: block;
        border: 1px solid black;
        height: 1066px;
        text-decoration: none;
    }

    .ColumnItem3 > a > h2{
        margin-left: 0px;
        margin-top: 910px;
    }

    /* ---------------------------------------- Column4 ---------------------------------------- */

    .ColumnItem4{
        background-image: url(../img/Font/5-2-1.png);
        /* width: 465px; */
        /* height: 407px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem4 > a{
        display: block;
        border: 1px solid black;
        height: 407px;
        text-decoration: none;
    }

    .ColumnItem4 > a > h2{
        margin-left: 0px;
        margin-top: 260px;
    }

    /* ================================================== ColumnBlock2 ================================================== */
    .ColumnBlock2{
        margin: 150px 0;
        display: block;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .ColumnBlock2 a{
        display: block;
        /* border: 1px solid orange; */
    }

    .ColumnBlock2 img{
        width: 600px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px){
    
    img{
        max-width: 100%;
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
    /* ================================================== ColumnBlock1 ================================================== */
    .ColumnBlock1{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    /* ---------------------------------------- Column1 ---------------------------------------- */

    .ColumnItem1{
        background-image: url(../img/Traditional/4-2-1.png);
        /* width: 710px; */
        /* height: 960px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem1 > a{
        display: block;
        border: 1px solid black;
        height: 960px;
        text-decoration: none;
    }
    
    .ColumnItem1 > a > h2{
        margin-left: 0px;
        margin-top: 810px;
    }

    
    /* ---------------------------------------- Column2 ---------------------------------------- */

    .ColumnItem2{
        background-image: url(../img/BlackandGrey/4-2-1.png);
        /* width: 710px; */
        /* height: 720px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem2 > a{
        display: block;
        border: 1px solid black;
        height: 720px;
        text-decoration: none;
    }

    .ColumnItem2 > a > h2{
        margin-left: 0px;
        margin-top: 570px;
    }

    /* ---------------------------------------- Column3 ---------------------------------------- */

    .ColumnItem3{
        background-image: url(../img/Oldschool/4-2-1.png);
        /* width: 465px; */
        /* height: 1066px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem3 > a{
        display: block;
        border: 1px solid black;
        /* height: 1066px; */
        height: 100%;
        text-decoration: none;
    }

    .ColumnItem3 > a > h2{
        margin-left: 0px;
        margin-top: 910px;
    }

    /* ---------------------------------------- Column4 ---------------------------------------- */

    .ColumnItem4{
        background-image: url(../img/Font/5-2-1.png);
        /* width: 465px; */
        /* height: 407px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem4 > a{
        display: block;
        border: 1px solid black;
        height: 407px;
        text-decoration: none;
    }

    .ColumnItem4 > a > h2{
        margin-left: 0px;
        margin-top: 260px;
    }

    /* ================================================== ColumnBlock2 ================================================== */
    .ColumnBlock2{
        margin: 150px 0;
        display: block;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .ColumnBlock2 a{
        display: block;
        /* border: 1px solid orange; */
    }

    .ColumnBlock2 img{
        width: 600px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px){
    
    img{
        max-width: 100%;
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
    /* ================================================== ColumnBlock1 ================================================== */
    .ColumnBlock1{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    /* ---------------------------------------- Column1 ---------------------------------------- */

    .ColumnItem1{
        background-image: url(../img/Traditional/4-2-1.png);
        /* width: 710px; */
        /* height: 960px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem1 > a{
        display: block;
        border: 1px solid black;
        /* height: 960px; */
        height: 710px;
        text-decoration: none;
    }
    
    .ColumnItem1 > a > h2{
        margin-left: 0px;
        margin-top: 810px;
    }

    
    /* ---------------------------------------- Column2 ---------------------------------------- */

    .ColumnItem2{
        background-image: url(../img/BlackandGrey/4-2-1.png);
        /* width: 710px; */
        /* height: 720px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem2 > a{
        display: block;
        border: 1px solid black;
        height: 720px;
        text-decoration: none;
    }

    .ColumnItem2 > a > h2{
        margin-left: 0px;
        margin-top: 570px;
    }

    /* ---------------------------------------- Column3 ---------------------------------------- */

    .ColumnItem3{
        background-image: url(../img/Oldschool/4-2-1.png);
        /* width: 465px; */
        /* height: 1066px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem3 > a{
        display: block;
        border: 1px solid black;
        height: 1066px;
        text-decoration: none;
    }

    .ColumnItem3 > a > h2{
        margin-left: 0px;
        margin-top: 910px;
    }

    /* ---------------------------------------- Column4 ---------------------------------------- */

    .ColumnItem4{
        background-image: url(../img/Font/5-2-1.png);
        /* width: 465px; */
        /* height: 407px; */
        width: 100%;
        background-position: 50%;
        margin-top: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
    }

    .ColumnItem4 > a{
        display: block;
        border: 1px solid black;
        height: 407px;
        text-decoration: none;
    }

    .ColumnItem4 > a > h2{
        margin-left: 0px;
        margin-top: 260px;
    }

    /* ================================================== ColumnBlock2 ================================================== */
    .ColumnBlock2{
        margin: 150px 0;
        display: block;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .ColumnBlock2 a{
        display: block;
        /* border: 1px solid orange; */
    }

    .ColumnBlock2 img{
        width: 600px;
    }

}

@media (min-width: 1200px) and (max-width: 1399.98px){}

@media (min-width: 1400px){}