
/* ================================================== Video1 ================================================== */

.VideoBlock1{
    /* border: 1px solid yellow; */
    width: 1920px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    /* transform: translate(-50%); */
    position: relative;
    margin-bottom: 100px;
    /* margin: auto; */
    /* padding-top: calc(100% * 9 / 16); */
    height: 100vh;
}

.VideoBlock1 > video{
    width: 1920px;
    /* height: 100vh; */
    /* transform: translate(-30%); */
}

/* ---------------------------------------- LOGO ---------------------------------------- */

/* .Logo_InTheVideo{
    width: 100%;
    position: relative;
    z-index: 0;
} */

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.Logo > a{
    display: block;
    width: 220px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 3px solid blue; */
}

.Logo > a > h1{
    font-size: 20px;
    text-align: left;
}

.Logo > a > img{
    width: 220px;
}

/* ============================================= Arms ============================================= */

.Demo{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Demo > li > .Line3{
    width: 360px;
    height: 8px;
    background-color: white;
}

.Demo > li > h2{
    width: 360px;
    text-align: center;
}



.js-slide{
    opacity: 0;
    transition: 1.5s;
}

.js-slide-i{
    transform: translateX(-70%);
}

.js-active {
    transform: translate(0);
    opacity: 1;
}

#jarall{
    -webkit-appearance: none;
    /* margin-top: 100px; */
}

/* .jar{
    margin-bottom: 100px;
} */

/* ---------------------------------------- ColumnBlock7 ---------------------------------------- */
/* .ColumnBlock7{} */

/* .ColumnItem10{} */


/* ============================================= Brief/ Artists ============================================= */

/* ---------------------------------------- ColumnBlock8, 9, 10 ---------------------------------------- */
.ColumnBlock8, .ColumnBlock9, .ColumnBlock10{
    margin: 200px 0;
}


/* ---------------------------------------- ColumnBlock8 ---------------------------------------- */
/* .ColumnBlock8{} */

.ColumnBlock8 > ul> li > .Line3{
    width: 360px;
    height: 8px;
    background-color: white;
}

.ColumnBlock8 > ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ColumnBlock8 > ul > li{
    width: 360px;
    padding: 15px 0;
}


/* ================================================== Button ================================================== */

button{
    width: 100%;
    height: 100px;
    background-color: rgba(100, 100, 100, 0.5);
    display: inline-block;
    font-family: impact, 'Noto Serif JP', serif;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

button > h3 {
    font-size: 30px;
}

.ColumnBlock9 > ul > li:nth-child(11) > button > h3,
.ColumnBlock10 > ul > li:nth-child(11) > button > h3{
    font-size: 48px;
}

.ColumnBlock9 > ul > li:nth-child(11) > a > button{
    width: 1080px;
}

.ColumnBlock10 > ul > li:nth-child(11) > a > button{
    width: 720px;
}

/* .Button > a{
    width: 100%;
} */

/* ---------------------------------------- Button_hover ---------------------------------------- */
button:hover{
    background-color: rgb(100, 100, 100, .3);
    transition-duration: .4s;
    letter-spacing: .1em;
    width: 100%;
}


/* ---------------------------------------- ColumnBlock9 ---------------------------------------- */
/* .ColumnBlock9{} */

.ColumnBlock9 > ul> li > .Line3{
    width: 360px;
    height: 8px;
    background-color: white;
}

.ColumnBlock9 > ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ColumnBlock9 > ul > li{
    padding: 15px 0;
}

.ColumnBlock9 > ul > li > h2{
    font-size: 60px;
}

.ColumnBlock9 > ul > li > img{
    width: 360px;
}

/* ---------------------------------------- ColumnBlock10 ---------------------------------------- */
/* .ColumnBlock10{} */

.ColumnBlock10 > ul> li > .Line3{
    width: 360px;
    height: 8px;
    background-color: white;
}

.ColumnBlock10 > ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ColumnBlock10 > ul > li{
    padding: 15px 0;
}

.ColumnBlock10 > ul > li:nth-child(1), .ColumnBlock10 > ul > li:nth-child(2), .ColumnBlock10 > ul > li:nth-child(3){
    width: 360px;
}

.ColumnBlock10 > ul > li > h2{
    font-size: 60px;
}

.ColumnBlock10 > ul > li > img{
    width: 100%;
}

.ColumnBlock10 > ul > li > p{
    width: 650px;
}



/* ================================================== MediaQuery ================================================== */

@media screen and (max-width: 575.98px){
    
    img{
        max-width: 100%;
    }

    .VideoBlock1 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-40%);
    }

    .Main{
        /* border: 1px solid orange; */
        /* height: 100vh; */
        /* width: 100%; */
        width: 100%;
        margin: 0 auto;
    }

    /* ---------------------------------------- Arms ---------------------------------------- */
    .Demo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* ---------------------------------------- Button ---------------------------------------- */

    .ColumnBlock9 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }
    
    .ColumnBlock10 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }

    /* ---------------------------------------- Content ---------------------------------------- */
    .ColumnBlock8 > ul > li > img{
        margin-top: 200px;
    }

    .ColumnBlock8 > ul > li:nth-child(4) > img{
        margin-top: 20px;
    }

    .Demo > li > h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Demo > li:nth-child(3) > .Line3{
        margin-bottom: 20px;
    }

    .ColumnBlock10 > ul > li > p{
        /* width: 650px; */
        width: 100%;
    }

    .ColumnBlock9 > ul > li{
        width: 360px;
        padding: 15px 0;
    }
    
    .ColumnBlock9 > ul > li > h2{
        font-size: 60px;
    }
    
    .ColumnBlock9 > ul > li > img{
        width: 360px;
    }
    
    .ColumnBlock8 > ul > li:nth-child(1), .ColumnBlock10 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock8 > ul > li:nth-child(2), .ColumnBlock10 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock8 > ul > li:nth-child(3), .ColumnBlock10 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock8 > ul > li:nth-child(4), .ColumnBlock10 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock8 > ul > li:nth-child(5), .ColumnBlock10 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock8 > ul > li:nth-child(6), .ColumnBlock10 > ul > li:nth-child(6){
        order:10;
    }
    .ColumnBlock8 > ul > li:nth-child(7), .ColumnBlock10 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock8 > ul > li:nth-child(8), .ColumnBlock10 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock8 > ul > li:nth-child(9), .ColumnBlock10 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock8 > ul > li:nth-child(10), .ColumnBlock10 > ul > li:nth-child(10){
        order:6;
    }
    .ColumnBlock8 > ul > li:nth-child(11), .ColumnBlock10 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock8 > ul > li:nth-child(12), .ColumnBlock10 > ul > li:nth-child(12){
        order:12;
    }

    .ColumnBlock9 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock9 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock9 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock9 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock9 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock9 > ul > li:nth-child(6){
        order:6;
    }
    .ColumnBlock9 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock9 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock9 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock9 > ul > li:nth-child(10){
        order:10;
    }
    .ColumnBlock9 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock9 > ul > li:nth-child(12){
        order:12;
    }
  }
  
@media (min-width: 576px) and (max-width: 767.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock1 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-40%);
    }

    .Main{
        /* border: 1px solid orange; */
        /* height: 100vh; */
        /* width: 100%; */
        width: 100%;
        margin: 0 auto;
    }

    /* ---------------------------------------- Arms ---------------------------------------- */
    .Demo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* ---------------------------------------- Button ---------------------------------------- */
    .ColumnBlock9 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }
    
    .ColumnBlock10 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }

    /* ---------------------------------------- Content ---------------------------------------- */
    .ColumnBlock8 > ul > li > img{
        margin-top: 200px;
    }

    .ColumnBlock8 > ul > li:nth-child(4) > img{
        margin-top: 20px;
    }

    .Demo > li > h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Demo > li:nth-child(3) > .Line3{
        margin-bottom: 20px;
    }

    .ColumnBlock10 > ul > li > p{
        /* width: 650px; */
        width: 100%;
    }

    .ColumnBlock8 > ul, .ColumnBlock10 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ColumnBlock9 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .ColumnBlock8 > ul > li:nth-child(1), .ColumnBlock10 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock8 > ul > li:nth-child(2), .ColumnBlock10 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock8 > ul > li:nth-child(3), .ColumnBlock10 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock8 > ul > li:nth-child(4), .ColumnBlock10 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock8 > ul > li:nth-child(5), .ColumnBlock10 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock8 > ul > li:nth-child(6), .ColumnBlock10 > ul > li:nth-child(6){
        order:10;
    }
    .ColumnBlock8 > ul > li:nth-child(7), .ColumnBlock10 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock8 > ul > li:nth-child(8), .ColumnBlock10 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock8 > ul > li:nth-child(9), .ColumnBlock10 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock8 > ul > li:nth-child(10), .ColumnBlock10 > ul > li:nth-child(10){
        order:6;
    }
    .ColumnBlock8 > ul > li:nth-child(11), .ColumnBlock10 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock8 > ul > li:nth-child(12), .ColumnBlock10 > ul > li:nth-child(12){
        order:12;
    }

    .ColumnBlock9 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock9 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock9 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock9 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock9 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock9 > ul > li:nth-child(6){
        order:6;
    }
    .ColumnBlock9 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock9 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock9 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock9 > ul > li:nth-child(10){
        order:10;
    }
    .ColumnBlock9 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock9 > ul > li:nth-child(12){
        order:12;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock1 > video{
        width: 1920px;
        /* height: 100vh; */
        /* transform: translate(-40%); */
    }

    .Main{
        /* border: 1px solid orange; */
        /* height: 100vh; */
        /* width: 100%; */
        width: 100%;
        margin: 0 auto;
    }

    /* ---------------------------------------- Arms ---------------------------------------- */
    .Demo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* ---------------------------------------- Button ---------------------------------------- */

    .ColumnBlock9 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }
    
    .ColumnBlock10 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }

    /* ---------------------------------------- Content ---------------------------------------- */
    .ColumnBlock8 > ul > li > img{
        margin-top: 200px;
    }

    .ColumnBlock8 > ul > li:nth-child(4) > img{
        margin-top: 20px;
    }

    .Demo > li > h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Demo > li:nth-child(3) > .Line3{
        margin-bottom: 20px;
    }

    .ColumnBlock10 > ul > li > p{
        /* width: 650px; */
        width: 100%;
    }

    .ColumnBlock8 > ul, .ColumnBlock10 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ColumnBlock9 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .ColumnBlock8 > ul > li:nth-child(1), .ColumnBlock10 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock8 > ul > li:nth-child(2), .ColumnBlock10 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock8 > ul > li:nth-child(3), .ColumnBlock10 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock8 > ul > li:nth-child(4), .ColumnBlock10 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock8 > ul > li:nth-child(5), .ColumnBlock10 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock8 > ul > li:nth-child(6), .ColumnBlock10 > ul > li:nth-child(6){
        order:10;
    }
    .ColumnBlock8 > ul > li:nth-child(7), .ColumnBlock10 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock8 > ul > li:nth-child(8), .ColumnBlock10 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock8 > ul > li:nth-child(9), .ColumnBlock10 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock8 > ul > li:nth-child(10), .ColumnBlock10 > ul > li:nth-child(10){
        order:6;
    }
    .ColumnBlock8 > ul > li:nth-child(11), .ColumnBlock10 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock8 > ul > li:nth-child(12), .ColumnBlock10 > ul > li:nth-child(12){
        order:12;
    }

    .ColumnBlock9 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock9 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock9 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock9 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock9 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock9 > ul > li:nth-child(6){
        order:6;
    }
    .ColumnBlock9 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock9 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock9 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock9 > ul > li:nth-child(10){
        order:10;
    }
    .ColumnBlock9 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock9 > ul > li:nth-child(12){
        order:12;
    }


  }
  
  @media (min-width: 992px) and (max-width: 1199.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock1 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-40%);
    }

    .Main{
        /* border: 1px solid orange; */
        /* height: 100vh; */
        /* width: 100%; */
        width: 100%;
        margin: 0 auto;
    }

    /* ---------------------------------------- Arms ---------------------------------------- */
    .Demo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    /* ---------------------------------------- Button ---------------------------------------- */

    .ColumnBlock9 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }
    
    .ColumnBlock10 > ul > li:nth-child(11) > a > button{
        width: 270px;
    }

    /* ---------------------------------------- Content ---------------------------------------- */
    .ColumnBlock8 > ul > li > img{
        margin-top: 200px;
    }

    .ColumnBlock8 > ul > li:nth-child(4) > img{
        margin-top: 20px;
    }

    .Demo > li > h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Demo > li:nth-child(3) > .Line3{
        margin-bottom: 20px;
    }
    
    .ColumnBlock10 > ul > li > p{
        /* width: 650px; */
        width: 100%;
    }

    .ColumnBlock8 > ul, .ColumnBlock10 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ColumnBlock9 > ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ColumnBlock8 > ul > li:nth-child(1), .ColumnBlock10 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock8 > ul > li:nth-child(2), .ColumnBlock10 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock8 > ul > li:nth-child(3), .ColumnBlock10 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock8 > ul > li:nth-child(4), .ColumnBlock10 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock8 > ul > li:nth-child(5), .ColumnBlock10 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock8 > ul > li:nth-child(6), .ColumnBlock10 > ul > li:nth-child(6){
        order:10;
    }
    .ColumnBlock8 > ul > li:nth-child(7), .ColumnBlock10 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock8 > ul > li:nth-child(8), .ColumnBlock10 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock8 > ul > li:nth-child(9), .ColumnBlock10 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock8 > ul > li:nth-child(10), .ColumnBlock10 > ul > li:nth-child(10){
        order:6;
    }
    .ColumnBlock8 > ul > li:nth-child(11), .ColumnBlock10 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock8 > ul > li:nth-child(12), .ColumnBlock10 > ul > li:nth-child(12){
        order:12;
    }

    .ColumnBlock9 > ul > li:nth-child(1){
        order:1;
    }
    .ColumnBlock9 > ul > li:nth-child(2){
        order:2;
    }
    .ColumnBlock9 > ul > li:nth-child(3){
        order:3;
    }
    .ColumnBlock9 > ul > li:nth-child(4){
        order:4;
    }
    .ColumnBlock9 > ul > li:nth-child(5){
        order:7;
    }
    .ColumnBlock9 > ul > li:nth-child(6){
        order:6;
    }
    .ColumnBlock9 > ul > li:nth-child(7){
        order:5;
    }
    .ColumnBlock9 > ul > li:nth-child(8){
        order:8;
    }
    .ColumnBlock9 > ul > li:nth-child(9){
        order:11;
    }
    .ColumnBlock9 > ul > li:nth-child(10){
        order:10;
    }
    .ColumnBlock9 > ul > li:nth-child(11){
        order:9;
    }
    .ColumnBlock9 > ul > li:nth-child(12){
        order:12;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px){}
  
  @media (min-width: 1400px){}