
/* =============================================== ColumnBlock4 =============================================== */
.ColumnBlock4 img{
    width: 380px;
}

.ColumnBlock4 > ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.ColumnBlock4 > ul > li{
    width: 360px;
    margin: 20px;
}

.ColumnBlock4 > ul > li > p{
    padding-top: 30px;
}

.ColumnBlock4 > ul > li:nth-child(1), .ColumnBlock4 > ul > li:nth-child(3), .ColumnBlock4 > ul > li:nth-child(4), .ColumnBlock4 > ul > li:nth-child(6), .ColumnBlock4 > ul > li:nth-child(7), .ColumnBlock4 > ul > li:nth-child(9), .ColumnBlock4 > ul > li:nth-child(10), .ColumnBlock4 > ul > li:nth-child(12){
    font-size: 55px;
}