
/* =============================================== ColumnBlock4 =============================================== */
.ColumnBlock4 img{
    width: 380px;
}

.ColumnBlock4 > ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.ColumnBlock4 > ul > li{
    width: 360px;
    margin: 20px;
}

.ColumnBlock4 > ul > li > p{
    padding-top: 30px;
}

.ColumnBlock4 > ul > li:nth-child(1), .ColumnBlock4 > ul > li:nth-child(3), .ColumnBlock4 > ul > li:nth-child(4), .ColumnBlock4 > ul > li:nth-child(6), .ColumnBlock4 > ul > li:nth-child(7), .ColumnBlock4 > ul > li:nth-child(9), .ColumnBlock4 > ul > li:nth-child(10), .ColumnBlock4 > ul > li:nth-child(12){
    font-size: 55px;
}

.ColumnBlock4 > ul > .Traditional_Change, .ColumnBlock4 > ul > .BlackandGrey_Change, .ColumnBlock4 > ul > .Oldschool_Change, .ColumnBlock4 > ul > .Font_Change{
    width: 380px;
    height: 380px;
}

ol{
    width: 380px;
    height: 380px;
}


/* =============================================== MediaQuery =============================================== */

@media screen and (max-width: 575.98px){

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
}

@media (min-width: 576px) and (max-width: 767.98px){

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
}

@media (min-width: 768px) and (max-width: 991.98px){

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px){}

@media (min-width: 1400px){

    .ColumnBlock4 > ul{
        width: 1200px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}