
/* ================================================== ColumnBlock5 ================================================== */
.ColumnBlock5{
    text-align: right;
}


/* ---------------------------------------- ColumnItem5 ---------------------------------------- */

.ColumnItem5{
    background-image: url(../img/Accessories/1-2mask.png);
    width: 100%;
    height: 360px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

/* ---------------------------------------- ColumnItem6 ---------------------------------------- */

.ColumnItem6{
    background-image: url(../img/Accessories/2-2mask.png);
    /* height: 710px; */
    width: 100%;
    height: 360px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

/* ---------------------------------------- ColumnItem7 ---------------------------------------- */

.ColumnItem7{
    background-image: url(../img/Accessories/3-2mask.png);
    /* height: 790px; */
    width: 100%;
    height: 360px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

/* ---------------------------------------- ColumnItem8 ---------------------------------------- */

.ColumnItem8{
    background-image: url(../img/Accessories/4-2mask.png);
    width: 100%;
    height: 360px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}