
/* ================================================== ColumnBlock6 ================================================== */
.ColumnBlock6{
    background-image: url(../img/Resources/14-1.png);
    width: 100%;
    height: 1070px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 40px; */
    background-repeat: no-repeat;
    background-position: 50%;
}

.ColumnItem9{
    width: 850px;
    height: 950px;
    /* height: 850px; */
    background-color: rgb(100, 100, 100, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.Table{
    width: 820px;
    height: 920px;
    /* height: 820px; */
    background-color: rgb(100, 100, 100, .5);
    border: 7px solid black;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.Table > ul{
    width: 213px;
    text-align: left;
}

.Table > ul > li{
    padding: 10px;
    margin: 15px 0;
}

/* .Table > ul > li:nth-child(9), .Table > ul > li:nth-child(10){
    text-align: center;
} */

.Table > ul > li > h2{
    margin-bottom: 15px;
}

.small_width{
    width: 100px;
}

/* .Name{} */

/* .ChooseArtists{} */

/* .Date{} */

/* .Phone{} */

/* .Subscribe{} */

/* .Suggestion textarea{
    width: 300px;
    height: 50px;
} */

/* .Upload{} */

/* .Send{} */

#choose_file{
    display: none;
}


/* ================================================== MediaQuery ================================================== */

@media screen and (max-width: 575.98px){

    .ColumnItem9{
        /* width: 850px; */
        /* height: 850px; */
        width: 80%;
        /* height: 80%; */
        background-color: rgb(100, 100, 100, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Table{
        /* width: 820px; */
        /* height: 820px; */
        width: 90%;
        /* height: 90%; */
        background-color: rgb(100, 100, 100, .5);
        border: 7px solid black;
        padding: 20px;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
}



@media (min-width: 576px) and (max-width: 767.98px){

    .ColumnItem9{
        /* width: 850px; */
        /* height: 850px; */
        width: 80%;
        /* height: 80%; */
        background-color: rgb(100, 100, 100, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Table{
        /* width: 820px; */
        /* height: 820px; */
        width: 90%;
        /* height: 90%; */
        background-color: rgb(100, 100, 100, .5);
        border: 7px solid black;
        padding: 20px;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
}



@media (min-width: 768px) and (max-width: 991.98px){

    .ColumnItem9{
        /* width: 850px; */
        /* height: 850px; */
        width: 80%;
        /* height: 80%; */
        background-color: rgb(100, 100, 100, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Table{
        /* width: 820px; */
        /* height: 820px; */
        width: 90%;
        /* height: 90%; */
        background-color: rgb(100, 100, 100, .5);
        border: 7px solid black;
        padding: 20px;
    }

    /* .Table > ul > li > h2{} */

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
    
}



@media (min-width: 992px) and (max-width: 1199.98px){

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }
}



@media (min-width: 1200px) and (max-width: 1399.98px){}


  
@media (min-width: 1400px){}