
/* ================================================== Video2 ================================================== */

.VideoBlock2{
    /* border: 1px solid yellow; */
    /* width: 1920px; */
    overflow: hidden;
    object-fit: cover;
    /* max-width: 100%; */
    /* transform: translate(-50%); */
    position: relative;
    margin-bottom: 100px;
    /* margin: auto; */
    /* padding-top: calc(100% * 9 / 16); */
    height: 100vh;
}

.VideoBlock2 > video{
    /* width: 1920px; */
    height: 100vh;
    /* transform: translateY(-70%); */
}

/* .VideoBlock2{
    width: 1920px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100vh;
}

.VideoBlock2 > video{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
} */

/* ---------------------------------------- LOGO ---------------------------------------- */

/* .Logo_InTheVideo{
    width: 100%;
    position: relative;
    z-index: 0;
} */

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.Logo > h1{
    font-size: 20px;
    color: white;
    position: absolute;
    /* left: 538px; */
    /* top: 272px; */
    left: 41%;
    top: 38%;
    /* transform: translateX(-50%); */
    /* margin: auto; */
}

.Logo > img{
    width: 200px;
    position: absolute;
    /* left: 530px; */
    /* top: 300px; */
    left: 42%;
    top: 42%;
    /* margin: auto; */
}

.Logo > a{
    display: block;
    width: 220px;
    height: 130px;
    position: absolute;
    /* left: 530px; */
    /* top: 270px; */
    left: 41%;
    top: 38%;
    /* border: 3px solid blue; */
    z-index: 2;
}

/* ---------------------------------------- HamList ---------------------------------------- */

.Nav0{
    width: 100%;
    /* height: 250px; */
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: 1.5%; */
}

.Nav0 > p{
    width: 100%;
    /* font-size: 190px; */
    font-size: 11em;
    text-decoration: underline;
    opacity: 60%;
    /* transform: translateX(-17%); */
}

/* ================================================== Button ================================================== */
button{
    width: 100%;
    height: 100px;
    background-color: rgba(100, 100, 100, 0.5);
    /* display: inline-block; */
    font-family: impact, 'Noto Serif JP', serif;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.Button > a{
    width: 100%;
}

/* ---------------------------------------- Button_hover ---------------------------------------- */
button:hover{
    background-color: rgb(100, 100, 100, .3);
    transition-duration: .4s;
    letter-spacing: .1em;
}


/* ================================================== ColumnBlock3 ================================================== */
.ColumnBlock3{
    width: 100%;
}

/* ---------------------------------------- Column5 ---------------------------------------- */

.ColumnItem5{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.ColumnItem5 > p{
    padding: 50px;
    line-height: 1.3;
}

/* ---------------------------------------- Column6 ---------------------------------------- */

.ColumnItem6{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.ColumnItem6 > p{
    padding: 50px;
    line-height: 1.3;
    order: -1;
    text-align: right;
}





/* ================================================== MediaQuery ================================================== */

@media screen and (max-width: 575.98px){
    
    img{
        max-width: 100%;
    }

    .VideoBlock2 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-25%);
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }

    /* ---------------------------------------- LOGO ---------------------------------------- */
    .Logo > h1{
        font-size: 20px;
        color: white;
        position: absolute;
        /* left: 538px; */
        /* top: 272px; */
        left: 24%;
        top: 38%;
        /* transform: translateX(-50%); */
        /* margin: auto; */
    }
    
    .Logo > img{
        width: 200px;
        position: absolute;
        /* left: 530px; */
        /* top: 300px; */
        left: 27%;
        top: 42%;
        /* margin: auto; */
    }

    /* ---------------------------------------- HamList ---------------------------------------- */
    .Nav0 > p{
        width: 100%;
        /* font-size: 190px; */
        font-size: 3.6em;
        text-decoration: underline;
        opacity: 60%;
        /* transform: translateX(-17%); */
    }

    /* ---------------------------------------- Column5 ---------------------------------------- */

    .ColumnItem5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
    }

    .ColumnItem5 > p{
        padding: 50px;
        line-height: 1.3;
    }

    /* ---------------------------------------- Column6 ---------------------------------------- */

    .ColumnItem6{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
    }

    .ColumnItem6 > p{
        padding: 50px;
        line-height: 1.3;
        order: 0;
        text-align: right;
    }


}

@media (min-width: 576px) and (max-width: 767.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock2 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-20%);
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }

    /* ---------------------------------------- LOGO ---------------------------------------- */
    .Logo > h1{
        font-size: 20px;
        color: white;
        position: absolute;
        /* left: 538px; */
        /* top: 272px; */
        left: 35%;
        top: 38%;
        /* transform: translateX(-50%); */
        /* margin: auto; */
    }
    
    .Logo > img{
        width: 200px;
        position: absolute;
        /* left: 530px; */
        /* top: 300px; */
        left: 35%;
        top: 42%;
        /* margin: auto; */
    }

    /* ---------------------------------------- HamList ---------------------------------------- */
    .Nav0 > p{
        width: 100%;
        /* font-size: 190px; */
        font-size: 5.5em;
        text-decoration: underline;
        opacity: 60%;
        /* transform: translateX(-17%); */
    }

    /* ---------------------------------------- Column5 ---------------------------------------- */

    .ColumnItem5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem5 > p{
        padding: 50px;
        line-height: 1.3;
        width: 640px;
    }

    /* ---------------------------------------- Column6 ---------------------------------------- */

    .ColumnItem6{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem6 > p{
        padding: 50px;
        line-height: 1.3;
        order: 0;
        text-align: right;
        width: 640px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock2 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-15%);
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }

    /* ---------------------------------------- LOGO ---------------------------------------- */
    .Logo > h1{
        font-size: 20px;
        color: white;
        position: absolute;
        /* left: 538px; */
        /* top: 272px; */
        left: 37%;
        top: 38%;
        /* transform: translateX(-50%); */
        /* margin: auto; */
    }
    
    .Logo > img{
        width: 200px;
        position: absolute;
        /* left: 530px; */
        /* top: 300px; */
        left: 38%;
        top: 42%;
        /* margin: auto; */
    }
    

    /* ---------------------------------------- HamList ---------------------------------------- */
    .Nav0 > p{
        width: 100%;
        /* font-size: 190px; */
        font-size: 7.4em;
        text-decoration: underline;
        opacity: 60%;
        /* transform: translateX(-17%); */
    }

    /* ---------------------------------------- Column5 ---------------------------------------- */

    .ColumnItem5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem5 > p{
        padding: 50px;
        line-height: 1.3;
        width: 640px;
    }

    /* ---------------------------------------- Column6 ---------------------------------------- */

    .ColumnItem6{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem6 > p{
        padding: 50px;
        line-height: 1.3;
        order: 0;
        text-align: right;
        width: 640px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){

    img{
        max-width: 100%;
    }

    .VideoBlock2 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translate(-10%);
    }

    .Main{
        width: 100%;
        margin: 0 auto;
    }

    img, iframe, .ColumnItem1, .ColumnItem2, .ColumnItem3, .ColumnItem4, .ColumnItem5, .ColumnItem6, .ColumnItem7, .ColumnItem8{
        /* -webkit-filter:grayscale(1); */
        filter:grayscale(0);
    }

    /* ---------------------------------------- HamList ---------------------------------------- */
    .Nav0 > p{
        width: 100%;
        /* font-size: 190px; */
        font-size: 8.3em;
        text-decoration: underline;
        opacity: 60%;
        /* transform: translateX(-17%); */
    }

    /* ---------------------------------------- Column5 ---------------------------------------- */

    .ColumnItem5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem5 > p{
        padding: 50px;
        line-height: 1.3;
        width: 640px;
    }

    /* ---------------------------------------- Column6 ---------------------------------------- */

    .ColumnItem6{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid blue; */
        justify-content: center;
    }

    .ColumnItem6 > p{
        padding: 50px;
        line-height: 1.3;
        order: 0;
        text-align: right;
        width: 640px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px){}
  
@media (min-width: 1400px){

    .VideoBlock2{
        /* border: 1px solid yellow; */
        /* width: 1920px; */
        overflow: hidden;
        object-fit: cover;
        /* max-width: 100%; */
        /* transform: translate(-50%); */
        position: relative;
        margin-bottom: 100px;
        /* margin: auto; */
        padding-top: calc(100% * 9 / 16);
        /* height: 100vh; */
    }
    
    .VideoBlock2 > video{
        width: 1920px;
        /* height: 100vh; */
        transform: translateY(-100%);
    }

    /* ---------------------------------------- HamList ---------------------------------------- */
    .Nav0 > p{
        width: 100%;
        /* font-size: 190px; */
        font-size: 17.5em;
        text-decoration: underline;
        opacity: 60%;
        /* transform: translateX(-17%); */
    }
}